{% extends 'base.html' %}

{% block title %}BlazerSec SOC Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">Case 1 Report</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='placeholder.png') }}" class="img-fluid" alt="Graph 1">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='placeholder.png') }}" class="img-fluid" alt="Graph 2">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='placeholder.png') }}" class="img-fluid" alt="Graph 3">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="{{ url_for('static', filename='placeholder.png') }}" class="img-fluid" alt="Graph 4">
                    </div>
                </div>

                <div class="mt-4">
                    <h6>Summary</h6>
                    <div class="border p-3" style="white-space: pre-wrap;">
                        {{ summary_text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}